body,
html {
    background-color: white;
    color: #000000;
    margin: 0;
    padding: 0;
}

.align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.coming-soon {
    width: fit-content;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.08em;
    color: #000000;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
/* 
.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.icon {
    margin: 0 0.5rem;
    text-decoration: none;
}

.b1 {
    margin: 1rem;
    padding: 0.6rem;
    width: 200px;
    height: 45px;
    border-radius: 2px;
    background-color: white;
    border: 1px solid black;
}

.button-text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
}

@media screen and (max-width: 400px) {
    .coming-soon {
        font-size: 28px;
    }

    .icon {
        margin: 0 0.1rem;
    }
}
