body {
    margin: 0;
    padding: 0;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-screen {
    height: 100vh;
    position: relative;
}

.top-menu {
    padding-left: 3rem;
    padding-right: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container {
    display: flex;
    margin: 3rem 7rem;
}

.container {
    width: fit-content;
    padding-top: 6rem;
    padding-left: 1rem;
}

.illustration {
    width: 18rem;
}

.illustration-container {
    margin: 0 7rem;
}

.greeting {
    width: fit-content;
    padding-left: 0.5rem;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 20px;
    font-style: normal;
    color: #292929
}

.display {
    font-family: Montserrat;
    font-style: normal;
    font-weight:700;
    font-size: 90px;
    line-height: 90px;
}

.scroll-line {
    position: absolute;
    margin-top: -1rem;
    margin-left: 2.5rem;
    background-color: #FF5959;
	height: 4px;
	overflow: hidden;
    width:200px;
    transform: rotate(90deg);
}

.scroll-line::before,
.scroll-line::after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: ""
}

.scroll-line:before {
	background: #E0E0E0;
}

.scroll-line::after {
	background: #FF5959;
	animation: slider 3s infinite
}

.icons {
    margin: 0 0.5rem;
}

@keyframes slider {
	0% {
		transform: translate3d(-200%, 0, 0)
	}
	60% {
		transform: translate3d(100%, 0, 0)
	}
	100% {
		transform: translate3d(100%, 0, 0)
	}
}



.second-screen {
    height: 100vh;
    position: relative;
}

.heading {
    margin: 0 10rem;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}

.second-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.1em;
    color: #FF5151;
}

.description {
    margin-top: -0.5rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    color: #292929;
}

.work-area {
    display: flex;
    width: 100%;
    height: 81%;
}

.card {
    width: 25%;
    height: 100%;
}

#first-card {
    background-color: #FF5555;
}

#second-card {
    background-color: #FF7373;
    padding-top: 3rem;
}

#third-card {
    background-color: #FF9F9F;
    padding-top: 9rem;
}

#fourth-card {
    background-color: #FFD1D1;
    padding-top: 15rem;
}

.disp-letter {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.14);
}


.third-screen {
    height: 100vh;
    position: relative;
}

.contact-card {
    position: absolute;
    border-radius: 8px;
    height: 450px;
    width: 300px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 8rem 10rem;
    background-image: url("assets/profile-photo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 30px -10px black;
    overflow: hidden;
}

.card-blur {
    position: absolute;
    height: 100%;
    width: calc(100% + 1px);
    background-color: black;
    opacity: 0;
    transition: opacity 0.15s ease-in;
}

.contact-card:hover .card-blur {
    opacity: 0.6;
}

.footer {
    z-index: 1;
    position: absolute;
    height: 80px;
    width: 100%;
    bottom: 0;
}

svg#curve {
    position: absolute;
    fill: #FF7373;
    left: 0;
    bottom: 0;
    width: 400px;
    height: 450px;
}

.connections {
    height: 80px;
    width: 400px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 70px;
    margin: auto;
}

.connection {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: white;
    display: inline-block;
    padding: 5px;
    margin-right: 25px;
    transform: translateY(200px);
    
    transition: transform 1s cubic-bezier(.46, 1.48, .18, .81);
}

.contact-card:hover .connection {
    transform: translateY(0px);
}

.connection.mail {
    margin-left: 20px;
    padding: 5px;
}

.connection.twitter {
    transition-delay: 0.02s;
}

.connection.github {
    transition-delay: 0.04s;
}

.connection.mail .icon {
    height: 15px;
    width: 15px;
    background-image: url(assets/mail\ 1.svg);
    background-position: center;
    background-size: cover;
}

.connection.twitter .icon {
    height: 100%;
    width: 100%;
    background-image: url(assets/Twitter.svg);
    background-position: center;
    background-size: cover;
}

.connection.github .icon {
    height: 100%;
    width: 100%;
    background-image: url(assets/Github.svg);
    background-position: center;
    background-size: cover;
}

.info {
    font-family: Poppins;
    letter-spacing: 0.1em;
    color: azure;
    padding-left: 20px;
    transform: translateY(250px);

    transition: transform 1s cubic-bezier(.31,1.21,.64,1.02);
}

.contact-card:hover .info {
    transform: translateY(0px);
}

.name {
    font-weight: bolder;
    padding-top: 5px;
}

.job {
    margin-top: 10px;
}